## Import Relevant Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Loading the raw data

In [4]:
raw_data =pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')
raw_data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [6]:
raw_data.describe(include='all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
raw_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [8]:
raw_data.groupby('Y2014')['Y2014'].count()

Y2014
-1796.0      1
-1631.0      1
-849.0       2
-838.0       1
-685.0       1
            ..
 90425.0     1
 98094.0     1
 108756.0    1
 109593.0    1
 176405.0    1
Name: Y2014, Length: 4493, dtype: int64

In [10]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [11]:
data = pd.DataFrame(lst,columns=col,index=[1,2,3])
data

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [12]:
array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [14]:
array[1:,2]

array([48, 56])

In [18]:
len(raw_data)

60943

In [20]:
S = [['him', 'sell'], [90, 28, 43]]

In [21]:
S[0][1][1]

'e'

In [22]:
my_tuppy = (1,2,5,8)
my_tuppy[2]=6

TypeError: 'tuple' object does not support item assignment

In [28]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][-1]
x

8

In [35]:
raw_data.iloc[0:,]

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

## 11-20

In [42]:
raw_data.groupby('Item')['Y2014','Y2017'].sum()

C:\Users\USER\AppData\Local\Temp/ipykernel_24160/1203882050.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  raw_data.groupby('Item')['Y2014','Y2017'].sum()

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

In [44]:
raw_data['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [45]:
raw_data['Y2016'].isnull().sum()

1535

In [47]:
raw_data['Y2016'].isnull().sum()/(59395.000000)*100

2.5843926256418888

## question 20

In [51]:
raw_data['Area'].nunique()

49

In [58]:
raw_data.groupby(['Element','Area'])['Y2018'].sum()
pd.set_option('display.max_rows', None)
raw_data.groupby(['Element','Area'])['Y2018'].sum()

Element                                 Area
Domestic supply quantity                Algeria                         90023.42
                                        Angola                          59590.22
                                        Benin                           31447.90
                                        Botswana                         3045.85
                                        Burkina Faso                    25705.16
                                        Cabo Verde                        731.00
                                        Cameroon                        64009.74
                                        Central African Republic         5567.06
                                        Chad                            15489.73
                                        Comoros                            19.95
                                        Congo                            8524.55
                                        CÃ´te d'Ivoire                   55557.64
                                        Djibouti                         2760.96
                                        Egypt                          248477.72
                                        Eswatini                        13158.81
                                        Ethiopia                       107850.72
                                        Ethiopia PDR                        0.00
                                        Gabon                            4608.75
                                        Gambia                           2221.89
                                        Ghana                          100558.45
                                        Guinea                          25292.85
                                        Guinea-Bissau                    2049.58
                                        Kenya                           67202.58
                                        Lesotho                          2062.73
                                        Liberia                          4998.99
                                        Madagascar                      32596.87
                                        Malawi                          50937.37
                                        Mali                            40795.02
                                        Mauritania                      22053.08
                                        Mauritius                        8290.36
                                        Morocco                         86458.07
                                        Mozambique                      42581.75
                                        Namibia                          4019.66
                                        Niger                           31258.84
                                        Nigeria                        428323.32
                                        Rwanda                          17426.52
                                        Sao Tome and Principe             349.73
                                        Senegal                         19374.64
                                        Seychelles                         10.68
                                        Sierra Leone                    12753.68
                                        South Africa                   126493.86
                                        Sudan                           65451.77
                                        Sudan (former)                      0.00
                                        Togo                            10000.22
                                        Tunisia                         31347.90
                                        Uganda                          54617.10
                                        United Republic of Tanzania     92239.88
                                        Zambia                          24994.80
                                        Zimbabwe                        17860.73
Export Quantity                         Algeria                           811.54
                                        Angola                           7962.28
                                        Benin                             729.44
                                        Botswana                          101.68
                                        Burkina Faso                     1088.16
                                        Cabo Verde                         42.99
                                        Cameroon                         1078.16
                                        Central African Republic            0.26
                                        Chad                               36.22
                                        Comoros                             0.00
                                        Congo                              25.03
                                        CÃ´te d'Ivoire                    8120.48
                                        Djibouti                         1084.00
                                        Egypt                            9420.24
                                        Eswatini                         1262.04
                                        Ethiopia                         2138.78
                                        Ethiopia PDR                        0.00
                                        Gabon                              16.30
                                        Gambia                           1390.59
                                        Ghana                            4284.86
                                        Guinea                            191.61
                                        Guinea-Bissau                     156.00
                                        Kenya                            3086.45
                                        Lesotho                            80.96
                                        Liberia                            65.48
                                        Madagascar                        535.81
                                        Malawi                            597.18
                                        Mali                              165.30
                                        Mauritania                      36217.88
                                        Mauritius                        3387.12
                                        Morocco                         42429.99
                                        Mozambique                       1394.81
                                        Namibia                          1712.92
                                        Niger                            2017.22
                                        Nigeria                          1233.02
                                        Rwanda                            383.64
                                        Sao Tome and Principe              10.00
                                        Senegal                          4451.63
                                        Seychelles                        205.14
                                        Sierra Leone                      143.90
                                        South Africa                    31630.62
                                        Sudan                            1632.13
                                        Sudan (former)                      0.00
                                        Togo                              809.35
                                        Tunisia                          1649.87
                                        Uganda                           4095.70
                                        United Republic of Tanzania      2289.77
                                        Zambia                           1011.54
                                        Zimbabwe                          416.71
Fat supply quantity (g/capita/day)      Algeria                           309.09
                                        Angola                            230.90
                                        Benin                             207.82
                                        Botswana                          261.12
                                        Burkina Faso                      264.29
                                        Cabo Verde                        264.32
                                        Cameroon                          217.53
                                        Central African Republic          242.76
                                        Chad                              211.53
                                        Congo                             181.82
                                        CÃ´te d'Ivoire                     237.96
                                        Djibouti                          247.43
                                        Egypt                             238.72
                                        Eswatini                          189.94
                                        Ethiopia                          108.49
                                        Gabon                             211.75
                                        Gambia                            241.96
                                        Ghana                             164.21
                                        Guinea                            274.89
                                        Guinea-Bissau                     245.35
                                        Kenya                             191.54
                                        Lesotho                           211.10
                                        Liberia                           196.34
                                        Madagascar                         96.43
                                        Malawi                            161.35
                                        Mali                              235.33
                                        Mauritania                        268.78
                                        Mauritius                         377.28
                                        Morocco                           284.16
                                        Mozambique                        195.06
                                        Namibia                           219.81
                                        Niger                             209.32
                                        Nigeria                           218.84
                                        Rwanda                            123.56
                                        Sao Tome and Principe             286.54
                                        Senegal                           243.21
                                        Sierra Leone                      199.86
                                        South Africa                      331.72
                                        Sudan                             263.63
                                        Togo                              197.24
                                        Tunisia                           379.37
                                        Uganda                            200.36
                                        United Republic of Tanzania       214.16
                                        Zambia                            193.83
                                        Zimbabwe                          207.99
Feed                                    Algeria                         10668.00
                                        Angola                           7859.66
                                        Benin                            4662.54
                                        Botswana                           28.04
                                        Burkina Faso                     1031.50
                                        Cabo Verde                         48.00
                                        Cameroon                         4857.24
                                        Central African Republic            5.00
                                        Chad                             1150.00
                                        Comoros                             0.00
                                        Congo                              39.66
                                        CÃ´te d'Ivoire                    6410.00
                                        Djibouti                          298.00
                                        Egypt                           25158.30
                                        Eswatini                           82.00
                                        Ethiopia                         3669.00
                                        Ethiopia PDR                        0.00
                                        Gabon                             573.00
                                        Gambia                            114.02
                                        Ghana                           14730.28
                                        Guinea                           4090.00
                                        Guinea-Bissau                      22.00
                                        Kenya                            1496.28
                                        Lesotho                           142.00
                                        Liberia                           118.00
                                        Madagascar                       2133.60
                                        Malawi                          17802.40
                                        Mali                             3369.30
                                        Mauritania                         63.34
                                        Mauritius                         501.18
                                        Morocco                         13679.87
                                        Mozambique                       2485.17
                                        Namibia                           119.40
                                        Niger                            2389.00
                                        Nigeria                         73064.53
                                        Rwanda                             96.00
                                        Sao Tome and Principe               0.00
                                        Senegal                           381.41
                                        Seychelles                          4.14
                                        Sierra Leone                     2170.00
                                        South Africa                    12413.42
                                        Sudan                            1887.00
                                        Sudan (former)                      0.00
                                        Togo                             1171.62
                                        Tunisia                          5621.70
                                        Uganda                            297.04
                                        United Republic of Tanzania      4495.06
                                        Zambia                           1950.66
                                        Zimbabwe                          141.32
Food                                    Algeria                         63736.33
                                        Angola                          37256.56
                                        Benin                           16209.34
                                        Botswana                         2378.80
                                        Burkina Faso                    20525.63
                                        Cabo Verde                        572.99
                                        Cameroon                        35235.51
                                        Central African Republic         4457.06
                                        Chad                             9846.69
                                        Comoros                            12.45
                                        Congo                            6281.89
                                        CÃ´te d'Ivoire                   32660.63
                                        Djibouti                          790.96
                                        Egypt                          145135.30
                                        Eswatini                         1217.81
                                        Ethiopia                        78564.70
                                        Ethiopia PDR                        0.00
                                        Gabon                            2906.75
                                        Gambia                           1618.88
                                        Ghana                           52540.78
                                        Guinea                          14310.85
                                        Guinea-Bissau                    1491.58
                                        Kenya                           50504.48
                                        Lesotho                          1817.72
                                        Liberia                          3802.99
                                        Madagascar                      22116.21
                                        Malawi                          23295.97
                                        Mali                            25110.72
                                        Mauritania                       4175.50
                                        Mauritius                        1348.03
                                        Morocco                         48698.59
                                        Mozambique                      29772.57
                                        Namibia                          2751.26
                                        Niger                           23049.84
                                        Nigeria                        243467.65
                                        Rwanda                          15552.52
                                        Sao Tome and Principe             254.13
                                        Senegal                         13763.22
                                        Seychelles                          5.58
                                        Sierra Leone                     8444.68
                                        South Africa                    61781.13
                                        Sudan                           41857.77
                                        Sudan (former)                      0.00
                                        Togo                             7229.60
                                        Tunisia                         18901.69
                                        Uganda                          41420.05
                                        United Republic of Tanzania     65741.38
                                        Zambia                          12405.14
                                        Zimbabwe                         8821.37
Food supply (kcal/capita/day)           Algeria                         13288.00
                                        Angola                           9538.00
                                        Benin                           11023.00
                                        Botswana                         9365.00
                                        Burkina Faso                    10951.00

In [62]:
raw_data.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017'].sum()

C:\Users\USER\AppData\Local\Temp/ipykernel_24160/2776571075.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  raw_data.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017'].sum()

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
Export Quantity,150020.64,157614.47,151920.46,182338.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Feed,216927.89,225050.22,228958.65,223705.68
Food,1212332.49,1232361.10,1247022.17,1258888.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Import Quantity,274144.48,267018.46,286582.78,294559.09
Losses,153223.00,155439.00,157787.00,160614.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Processing,282923.00,287929.00,280631.00,292836.00
Production,1931287.75,1947019.39,1943537.15,2030056.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Residuals,30149.00,30045.00,37224.00,35500.00
Seed,21922.92,23976.82,23389.20,24870.14
Stock Variation,58749.83,34910.99,33140.12,54316.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Tourist consumption,416.00,349.00,89.00,91.00

In [63]:
Fat supply quantity (g/capita/day)          10258.69
Seed                                        25263.14
Protein supply quantity (g/capita/day)      11833.56
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85

SyntaxError: invalid syntax (Temp/ipykernel_24160/2777034485.py, line 1)

In [65]:
raw_data.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017'].sum()

C:\Users\USER\AppData\Local\Temp/ipykernel_24160/2776571075.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  raw_data.groupby(['Element'])['Y2014','Y2015','Y2016','Y2017'].sum()

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
Export Quantity,150020.64,157614.47,151920.46,182338.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Feed,216927.89,225050.22,228958.65,223705.68
Food,1212332.49,1232361.10,1247022.17,1258888.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Import Quantity,274144.48,267018.46,286582.78,294559.09
Losses,153223.00,155439.00,157787.00,160614.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Processing,282923.00,287929.00,280631.00,292836.00
Production,1931287.75,1947019.39,1943537.15,2030056.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Residuals,30149.00,30045.00,37224.00,35500.00
Seed,21922.92,23976.82,23389.20,24870.14
Stock Variation,58749.83,34910.99,33140.12,54316.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Tourist consumption,416.00,349.00,89.00,91.00